.contactForm_info {
    font-family: $obviusly-font;
    color: $green-strong;
    padding-top: 18rem;
    padding-bottom: 2rem;
}

label { 
    margin: 1.5em 0 0.3em;

    padding-left: 0.4em;
    padding-bottom: 2rem;

    &:first-of-type {
        margin-top: 0;
    }
}

input[type=text], input[type=email], textarea {
    padding: 0.6em;
    color: $green-medium;
    border-radius: 1px;
    width: 300px;
    background-color: transparent;
    border-bottom: 1px solid $green-strong;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.textMessage {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.textMessage textarea {
    width: 100%;
}

input[type=submit] {
    
    /* margin-top: 2em; */
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: $green-strong;
    cursor: pointer;
    font-size: 1.2em;
    color: $grey-strong;
    font-family: $mundial-font;
    font-weight: 600;

    &:hover { 
        font-weight: 800;
        background-color: $green-light}
}

.wrapper {
    display: grid;
    padding-bottom: 14.6rem;
}
