.hidden { display: none; }

$green-strong: #0ece6b;
$green-medium: #6de7a6;
$green-light: #ccffe1;

$grey-strong: #2f2e30;
$grey-medium: #656566;
$grey-light: #9b9b9b;



$white-color: hsl(0, 0%, 100%);

$mundial-font: 'mundial', sans-serif;
$obviusly-font: 'obviously', sans-serif;
$obviuslywide-font: 'obviously-wide', sans-serif;
$biggest-font-size: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;
$font-black: 800;
$font-bold: 700;
$font-medium: 600;
$font-regular: 400;
$font-light: 300;
